@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-kita-green: #10b981;
  --color-kita-blue: #3b82f6;

  /* Landing Page Theme */
  --color-primary: #13ec13;
  --color-background-light: #f6f8f6;
  --color-background-dark: #102210;
  --font-display: "Public Sans", sans-serif;
  --font-sans: "Public Sans", sans-serif;
  /* Set as default sans too as per example body style */
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.dark ::-webkit-scrollbar-track {
  background: #064e3b;
}

.dark ::-webkit-scrollbar-thumb {
  background: #10b981;
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: #059669;
}